<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.logindemo.dao.AccountTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo1.logindemo.model.AccountType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_type_id" jdbcType="INTEGER" property="accountTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="selectAll"  resultMap="BaseResultMap">
    SELECT
        id,
        `name`
    FROM
        account_type;
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    SELECT
        id,
        account.`name`
    FROM
        account_type
    WHERE id=#{id};
  </select>

</mapper>
